%p
  Привет, 
  = @user.first_name
  довожу до твоего сведения, что на сайте добавлена новость под названием 
  = @news.title
  прошу провести ревью этой новости в удобное для тебя время.
%p
  Посмотреть её ты можешь, перейдя по 
  = link_to 'ссылке', edit_admin_news_path(@news)
%p
  %b
    Спасибо! Твой преданный помощник бот Леопольд!
