%header.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"type" => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: main_page_of(request.host) }
      = image_tag 'organization/activity_lines/lider/ya-lider-black.png', class: 'navbar-header-image'
      %span
        = @contest.short_name
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      = menu_item '/pages/provision' do
        = @contest.model.class.human_attribute_name(:provision)
