%header.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"type" => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: root_path }
      = image_tag 'organization/activity_lines/lider/ya-lider-black.png', class: 'navbar-header-image'
      %span
        = t('application.attributes.name')
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      = menu_item '/pages/provision' do
        = t('contest.definition')
