- model_class = Article
.page-header
  %h1=t model_class.model_name.human.pluralize(:ru) 
  = render 'articles_list', articles: @articles
  = link_to "#{t 'helpers.links.new'}", new_admin_article_path, class: 'btn btn-primary'
