- if current_user.admin?
  %h3
    = t('activerecord.models.logged_action').pluralize :ru
  %table.table.table-bordered.table-striped
    - @logged_actions.each do |l|
      %tr
        %td
          = l.user.decorate.short_name
        %td
          = enumerize_locales_value l, :action_type
