- confession_article_id = 25
= render 'web/admin/default/index', items: @confessions,
                                    default_page_title: default_title,
                                    on_site_link: article_path(confession_article_id)
