#background-8
%section.themes-content#mic_is_content
  .large-6.columns
    .year_text
      %h1
        = years_for_text
      %h2
        лет
  .large-6.columns
    .h3_text
      %h3
        занимается поддержкой молодёжных инициатив в Ульяновской области
      %h3
        реализует социально-значимые проекты
      %h3
        поддерживает самое большое сообщество молодёжи в регионе
