- locale_headers = Team.find(3)
.news.articles.container-big
  .row.contacts-people
    - locale_headers.users.order('ticket ASC').each do |user|
      = render 'web/articles/shared/contacts/member_card', user: user, position: ''
  .row
    %h4
      Адрес Президиума МИЦ
    .small-6.columns
      %iframe{ frameborder: '0', height: '450', src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2326.3628893161763!2d48.38820961587589!3d54.332893880197545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415d375a619f4827%3A0x66dc22a2c0a2d5c4!2z0YPQuy4g0JrRgNC-0LvRjtC90LjRhtC60L7Qs9C-LCAxNSwg0KPQu9GM0Y_QvdC-0LLRgdC6LCDQo9C70YzRj9C90L7QstGB0LrQsNGPINC-0LHQuy4sIDQzMjAwMA!5e0!3m2!1sru!2sru!4v1476737062946&key=#{google_api_key}&language=ru", style: 'border:0', width: '600' }
    .small-6.columns
      %p
        Россия, 432071, г.Ульяновск, ул. Кролюницкого, 15а
