- locale_headers = Team.find(3)
.news.articles.container-big
  .row.contacts-people
    - locale_headers.users.order('ticket ASC').each do |user|
      = render 'web/articles/shared/contacts/member_card', user: user, position: ''
  .row
    %h4
      Адрес Президиума МИЦ
    .small-6.columns
      %iframe{ frameborder: '0', height: '450', src: "https://www.google.com/maps/embed/v1/place?q=улица+Минаева+50,+Ульяновск,+Ульяновская+область,+Россия&key=#{google_api_key}&language=ru", style: 'border:0', width: '600' }
    .small-6.columns
      Россия, г. Ульяновск, ул. Минаева, д.50 (вход со стороны учебного корпуса с вывеской "Открыты для открытий"), 1 этаж, каб. на цокольном этаже здания.
