- honorables = ActivityLines::Corporative::Merit.honorary_members
.honorables.row-fluid
  %h1
    Почётный члены Молодёжного инициативного центра
  .honorables_people
    .row-fluid
      - honorables.each do |honorable|
        .small-12.medium-6.large-3.columns
          = render 'layouts/web/elements/mic_member_2',
            link: member_path(honorable.user.ticket),
            img_src: honorable.user.avatar.medium.url,
            name: honorable.user.decorate.short_name
