- honorables = ActivityLines::Corporative::Merit.honorary_members
.honorables.row
  %h1
    Почётный члены Молодёжного инициативного центра
  .large-12.columns
    %p
      Звание присваивается членам организации и является подтверждением значительного вклада в развитие и укрепление организации, продвижение её центральных программ и проектов. Почётный знак является наградой первой степени и присваивается один раз.
    %h4
      Как происходит представление?
    %p
      Решение о присвоении принимает Президиум МИЦ, составляется соответствующий протокол. При этом кандидатуры могут выдвигать команды местных отделений, Председатель МИЦ или 2/3 членов Президиума. На каждого кандидата заполняется соответствующее представление. Если человека выдвигает местное отделение, то в Президиум направляется протокол его заседания, где указывается кого актив выдвинул. К каждому представлению должны быть приложены: цветная портретная фотография размером 10х15 см.
    %p
      Награждение проходит в торжественной обстановке в присутствии Председателя организации, руководителей местных отделений, руководителей программ и проектов МИЦ. Каждый Почётный член получает удостоверение, подтверждающее решение о награждении, а также сам почётный знак – это серебряный значок с эмблемой организации.
    %p
      Информация о награждённых вносится в «Книгу Почётных членов Молодёжного инициативного центра». В ней размещается ФИО и фотография почётного члена, номер выданного документа о награждении, указывается дата награждения, должность на момент получения звания, описание заслуг за время деятельности в МИЦ. «Книга Почётных членов Молодёжного инициативного центра» размещается на официальном сайте МИЦ, а также в печатном варианте хранится в офисе организации.
  .honorables_people
    %h3
      Почётные члены Молодёжного инициативного центра
    - honorables.each do |honorable|
      .honorable_member
        = render 'layouts/web/elements/honorable_mic_member',
          link: member_path(honorable.user.ticket),
          img_src: honorable.user.avatar.medium.url,
          name: honorable.user.decorate.short_name,
          year: honorable.year
%br
%br
%br
%br
%br
