#background-1
.full-page-logo
.theme-button#mic_is
  .title
    МИЦ - это...
.theme-button#activity_lines
  .title
    Направления деятельности
.theme-button#mission
  .title
    Миссия
.theme-button#info
  .title
    Информация
