%header#top.header{ style: "background-image: url('/assets/pages/it_way/headers/9.jpg')"}
  .text-vertical-left
    .row-fluid{style: "margin-right: 0px"}
      .medium-3.columns
        = image_tag 'pages/it_way/logo-2017.png', class: :logo
      .medium-9.columns
        .text-vertical-right.title
          %h1
            III форум перспектив будущего ИТ-специалиста
          %h3
            21 - 26 октября 2017 года
          %h3
            Ульяновская область, Димитровград, ДООЦ «Юность»
          %br
    .row-fluid
      .medium-8.medium-offset-2.columns.text-vertical-center
        %br
        %h3
          Приём заявок будет проходить на этом сайте
        %h3
          Подпишитесь на нас, чтобы не пропустить новости III форума перспектив будущего ИТ-специалиста «IT Way'17»
      .medium-4.medium-offset-4.columns.end{ style: 'text-align: center' }
        %h1.icons
          %span.vkontakte.link{ data: { href: configus.it_projects.it_way.social_links.vk } }
            = fa_icon 'vk 3x'
          %span.twitter.link{ data: { href: configus.it_projects.it_way.social_links.twitter } }
            = fa_icon 'twitter 3x'
          = link_to t('.send_request'), '#', data: { target: 'new_project_record', id: 'new_project_record' }, class: 'button form_show large scroll'
