%hr
%aside.callout#it_way_2016.it_way_2016
  .text-vertical-center
    .row
      .col-md-12.col-sm-12
        %h3{ style: 'margin-top: 20px; color: black !important; font-family: mic-beau-reg !important' }
          Дмитрий Коротин - тренер Форума IT Way
      .col-md-12.col-sm-12
        .youtube_video{ style: 'margin-bottom: 15px' }
          != YouTubeAddy.youtube_embed_url('https://www.youtube.com/watch?v=OYh9D4lBAF0')
