= stylesheet_link_tag 'web/members/corporative/petitions'

- title t('.title', year: current_confession_year)

.container.mic-form-container.petition-form
  %h2.title
    = t('.title', year: current_confession_year)
  Добро пожаловать!
  Перед вами ходатайство о присвоение корпоративной премии «Признание» Молодёжного инициативного центра. «Признание» делится на две номинации: «Дебют года» - люди, активно проявившие себя в этом году (они могут давно состоять в организации, но начать деятельность в течение этого календарного года), «Номер один» - ребята заработавшие авторитет в организации, реализовавшие собственные мероприятия, проекты. Напоминаем, это не подарок, а заслуженная награда, поэтому к выбору номинантов просим отнестись предельно объективно. Номинирован на премию может быть человек, состоящий официально в организации 3 и более месяцев.
  .form
    = render 'form', action: :create
