%aside.callout.career_guidance#career_guidance
  .text-vertical-center
    %h1
      = fa_icon 'mortar-board'
      Профориентация
%section.text
  .container
    .row-fluid
      %p
        Выбор профессии - один из самых важнейших решений, которое должен принять молодой человек.
      %p
        На форуме пройден один из самых сильных курсов по профориентации. Рассмотрены требования к хорошему специалисту XXI века в любом виде деятельности, а также качества хорошего ИТ-специалиста. Разобраны возможные пути развития в сфере.
    %hr
    .row-fluid
      .col-md-4
        .row
          .col-md-offset-2.col-md-8
            = image_tag 'polovova.jpg', class: :famous
        %hr
        .row
          .col-md-offset-2.col-md-10
            %strong
              Валерия Половова
        .row
          .col-md-offset-2.col-md-10
            %small
              Профконсультант в Автономной некоммерческой организации дополнительного образования «Дизайн карьеры»
      .col-md-8
        %blockquote
          %p
            Образование сегодня - это не столько вопрос получения знаний и навыков, сколько работа с «образом» своего собственного будущего. Выбрать какую-то специальность и поступить в вуз - это еще ничего не значит. Работать над траекторией своего развития, задумываться о том, для чего мне нужны те или иные умения и компетенции, много практиковаться и делать выбор снова и снова - это уже похоже на путь человека, который к своему будущему относится ответственно и творчески. Приезжайте на IT Way, сделайте шаг навстречу самому себе и своему светлому и захватывающему будущему!
