%aside.callout.design#design
  .text-vertical-center
    %h1
      = fa_icon 'paint-brush'
      Дизайн
%section.text
  .container
    .row-fluid
      %p
        Направление «Дизайн» создано для ребят, которым нравится ИТ, но писать код и ковыряться в железках - это явно не их. Дизайнеры - одни из самых ярких представителей современного ИТ-мира.
      %p
        На «IT Way'17» подготовлена специальная адаптированная программа. В неё входит:
        %ul
          %li основы профессионального использования графических редакторов (Photoshop, Sketch и т.д.)
          %li азы создания и защиты собственных проектов
          %li экскурс в основные методологии креативного мышления
      %p
        Как видно, необязательно быть художником и быть асом в графических редакторах, чтобы пройти курс обучения по направлению "Дизайн".
    %hr
    .row-fluid
      .col-md-4
        .row
          .col-md-offset-2.col-md-8
            = image_tag 'koshkina.jpg', class: :famous
        %hr
        .row
          .col-md-offset-2.col-md-10
            %strong
              Дарья Кошкина
        .row
          .col-md-offset-2.col-md-10
            %small
              UI/UX дизайнер в Syncordia Technologies and Healthcare Solutions
      .col-md-8
        %blockquote
          %p
            На курсе мы смоделируем создание сайта, от составления брифа, придумывания концепции сайта до дизайна и защиты проектов. Элементы геймификации прилагаются.
          %p
            Так же расскажу, где можно учиться, если ты хочешь быть дизайнером и где в  Ульяновске можно зарабатывать деньги будучи дизайнером.
