%aside.callout#it_way_2016.it_way_2016
  .text-vertical-center
    .row
      .col-md-6.col-sm-12{ style: 'color: black !important' }
        %h1
          IT Way'16
        %h3
          31 августа - 4 сентября 2016 года
        %h3
          Как это было?
      .col-md-6.col-sm-12
        .youtube_video{ style: 'margin-bottom: 15px' }
          != YouTubeAddy.youtube_embed_url('https://www.youtube.com/watch?v=jb8oS39Zlps')
