%aside.call-to-action.bg-primary.price
  .container
    .row
      .col-lg-12.text-left
        %p{ style: 'font-size: 25px' }
          Стоимость участия 2500 
          = fa_icon :ruble
        %p
          в стоимость входят:
          %ul
            %li проезд до лагеря и обратно
            %li проживание и пятиразовое питание в лагере
            %li курс обучения по выбранному направлению от настоящих профессионалов
            %li раздаточный материал
            %li участие в уникальной программе профильной смены
            %li бесценный опыт, который даст толчок в дальнейшем самообучении на выбранному направлению
