%aside.callout.programming#programming
  .text-vertical-center
    %h1
      = fa_icon :code
      Программирование
%section.text
  .container
    .row-fluid
      %p
        Участники направления «Программирование» пройдут 20 часов обучения программированию от практикующих специалистов из ИТ-компаний и университетов. Программа мероприятия рассчитана на две категории участников: начинающие и «прошаренные». Ребят, которые совершенно незнакомы с программированием, научат азам создания программ.
      %p
        Имеющим опыт в программировании и участникам олимпиад тоже не будет скучно. Для них предусмотрен отдельный курс обучения от опытных специалистов.
    %hr
    .row-fluid
      .col-md-4
        .row
          .col-md-offset-2.col-md-8
            = image_tag 'folunin.jpg', class: :famous
        %hr
        .row
          .col-md-offset-2.col-md-10
            %strong
              Владимир Фолунин
        .row
          .col-md-offset-2.col-md-10
            %small
              Преподаватель кафедры «Вычислительная техника» УлГТУ, четырёхкратный полуфиналист Чемпионата Мира по программированию, тренер направления "Программирование" форума IT Way.
      .col-md-8
        %blockquote
          %p
            За несколько дней мы с вами научимся писать программы на Сях —самостоятельно, без гугла и соседей. Даже если вы никогда раньше этого не делали.
          %p
            Мы на практике разберёмся с основными конструкциями языка и некоторыми алгоритмами, чтобы после возвращения домой вы с уверенностью смогли продолжить осваивать мир программирования.
          %p
            Олимпиадные задачки? Есть! Простые игрушки? Возможно! Чемпионат лагеря по программированию? Обязательно!
