%aside.callout.steel#steel
  .text-vertical-center
    %h1
      = fa_icon :gears
      Железо
%section.text
  .container
    .row-fluid
      %p
        Самое «трогательное» направление форума перспектив будущего ИТ-специалиста. Участники пройдут курс обучения работы с самыми популярными типами микросхем: Arduino. 
      %p
        Эти микросхемы имеют огромный потенциал для различных проектов: начиная от гирлянды и заканчивая удалённым управлением домашней бытовой техникой. Даже, если вы никогда не работали с микросхемами, после IT Way вы сможете самостоятельно продолжить с ними работать.
    %hr
    .row-fluid
      .col-md-4
        .row
          .col-md-offset-2.col-md-8
            = image_tag 'zhuravskiy.jpg', class: :famous
        %hr
        .row
          .col-md-offset-2.col-md-10
            %strong
              Василий Журавский
        .row
          .col-md-offset-2.col-md-10
            %small
              Техлид компании «РуГаджет», основатель лаборатории FutureLab
      .col-md-8
        %blockquote
          %p
            В курсе «Железо» мы научимся программировать микроконтроллеры и с их помощью оживлять окружающие предметы. Изучим основы цифрового производства (Что? Слышали о 3д печати? Вот 3д-печать это только небольшая область цифрового производства), узнаем как создаются вещи вокруг нас, покопаемся во внутренностях роботов, изучим Arduino, может быть соберем свою собственную метеостанцию с выходом в интернет или огромного человекоподобного робота (из палочек от мороженного конечно, вы же не хотите разнести лагерь?).
