%h3
  = link_to @stage.full_title, admin_activity_lines_lider_ya_lider_stage_path(@stage)
  |
  Анкета-заявка участника
%br
.row
  .col-md-12
    %table.table.table-striped.table-condensed
      - participant.fields.each do |field|
        %tr
          %td
            = t("enumerize.activity_lines/lider/ya_lider/participant_field.title.#{field.title}")
          %td
            = field.value
