<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css"/>
.main-slider
  .main-slider-item
    %img{class:"slider-img",src:"http://cs14107.vk.me/c540101/v540101890/31512/YTONkYds8Y8.jpg"}
    .slider-item-info
      я какойцываыва фы вавфотавылф фуышафвыа
  .main-slider-item
    %img{class:"slider-img",src:"http://cs14107.vk.me/c540101/v540101890/31512/YTONkYds8Y8.jpg"}
    .slider-item-info
      я какойцываыва фы вавфотавылф фуышафвыа
  .main-slider-item
    %img{class:"slider-img",src:"http://cs14107.vk.me/c540101/v540101890/31512/YTONkYds8Y8.jpg"}
    .slider-item-info
      я какойцываыва фы вавфотавылф фуышафвыа
.category-navbar-container.clear-fix
  %nav.top-bar{"data-topbar" => ""}
    %section.top-bar-section
      .container-big
        %ul.left
          - ["Лидерство", "Журналистика", "IT", "Право", "Толерантность", "Волонтёрство", "НКО"].each do |item|
            %li
              %a{:href => "#"}
                = item
.news
  .container-big
    .top
      %h4.title Новости
      .right
        %span.text ВСЕ НОВОСТИ
        %span.slider-arrows
          %a.arrow.left-arrow
          %a.arrow.right-arrow
    .news-slider
      - 50.times do |i|
        %a.new-slider-item
          %p.date
            18 ноября 201
            = i
          %p.content
            Победитель конкурса "Я - лидер 2013" Иван Карпов решил провести дистанционный мастер-класс для того
.events
  .container-big
    %h4.rotate Мероприятия
    .container-big
      %ul.small-block-grid-4
        - 7.times do
          %li.event
            %a
              %img{class:"slider-img",src:"http://cs14107.vk.me/c540101/v540101890/31512/YTONkYds8Y8.jpg"}
            %section
              %span.category
                InФормат
              %span.date
                4-5 декабря
            %p
              %a
                Победитель конкурса "Я - лидер 2013" Иван Карпов решил провести дистанционный мастер-класс для того
.humans
  %ul.small-block-grid-7
    - 14.times do
      - foto_src = "http://www.allfaler.ru/images/stories/Matirials/RF/Statis/kalashnikov1.jpg"
      %li.human
        .bg-foto{ style: "background-image: url('#{foto_src}')" }
        %a.info{ href: "#" }
          .vertical-center
            .name
              Елена ТИТОВА
            .post
              Заместитель Председателя МИЦ
            .credo
              "Не останавливайся на достигнутом"
.last-tweets
