@import "foundation/functions";

.category-navbar-container {
  $topbar-height: rem-calc(47);

  $topbar-bg-color: black;
  $topbar-bg: $topbar-bg-color;

  $topbar-dropdown-bg: $topbar-bg-color;

  $topbar-link-color: white;
  $topbar-link-color-hover: #f45c10;
  $topbar-link-font-size: rem-calc(15);
  $topbar-link-bg-hover: $topbar-bg-color;
  $topbar-link-font-family: 'mic-bold';
  $topbar-link-padding: rem-calc(8.5);

  @import "foundation/components/top-bar";
}