@import "../mixins";

.main-navbar-container {
  $topbar-height: rem-calc(86);
  $topbar-bg-color: white;
  $topbar-bg: $topbar-bg-color;

  $topbar-link-color: #333333;
  $topbar-link-color-hover: #f45c10;
  $topbar-link-font-size: rem-calc(15);
  $topbar-link-bg-hover: $topbar-bg-color;
  $topbar-link-font-family: 'mic-bold';
  $topbar-link-padding: rem-calc(10);

  $topbar-dropdown-bg: $topbar-bg-color;
  $topbar-dropdown-link-bg: $topbar-bg-color;
  $topbar-dropdown-link-color: $topbar-link-color;
  $topbar-dropdown-link-bg-hover: $topbar-bg-color;

  @import "foundation/components/top-bar";

  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);

  .dropdown-category-menu {
    position: relative;
  }
  .dropdown-category-menu:hover {
    & .category-menu, & ul {
      display: block;
    }
  }
  .category-menu {
    position: absolute;
    display: block !important;
    z-index: 5;
    top: -10px;
    width: 1024px;
    background: $topbar-bg-color;
    padding: 0 rem-calc(30) rem-calc(30);
    .menu-title {
      font-size: 20px;
      padding-bottom: rem-calc(10);
    }
    .category-column {
      width: 220px;
      float: left;
      padding-left: rem-calc(20);
      &:hover {
        .menu-title {
          color: #f45c10;
        }
      }
      &>a {
        padding: 2px !important;
        line-height: 20px !important;
        display: block;
      }
    }
  }

  .icons-container {
    display: table;
    margin-top: $topbar-height/2.2;
    margin-right: 1rem;
    .sign-in {
      font-family: 'mic-bold';
      margin-right: 0.5rem;
      margin-top: 4px;
    }
    .icons {
      display: table-cell;
      vertical-align: middle;
      width: rem-calc(140);
      &>a {
        padding: 0 !important;
        padding-left: 4px !important;
        line-height: 0 !important;
        vertical-align: middle;
      }
    }
    .icon-door {
      display: inline-block;
      background: image-url('door-icon.png');
      background-position: -20px;
      height: 28px;
      width: 22px;
      &:hover {
        background-position: 1px;
      }
    }
    .icon-cogwheel, .icon-log-out, .icon-woman, .icon-man {
      height: 24px;
      width: 24px;
      &:hover {
        opacity: 0.5;
      }
    }
    .icon-cogwheel {
      background: asset-url('cogwheel-icon.png');
    }
    .icon-log-out {
      background: asset-url('log-out-icon.png');
    }
    .icon-woman {
      background: asset-url('woman-icon.png');
    }
    .icon-man {
      background: asset-url('man-icon.png');
    }
  }
  .banner-container {
    $el-width: rem-calc(94);
    height: rem-calc(20);
    width: $el-width;
    position: relative;
    margin-right: 20px;
    .banner {
      width: $el-width;
      background-image: image-url('svg-navbar-fallback.png');
      background-image: image-url('svg-navbar.svg');
      position: absolute;
      height: rem-calc(120);
      z-index: 5;
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-family: mic-bold;
      padding: 0 rem-calc(10);
      line-height: rem-calc(16);
      display: table;
      &.signed-in {
        width: rem-calc(150);
      }
      .user-name {
        font-size: 10px;
        float: left;
        margin-top: rem-calc(10);
        margin-bottom: rem-calc(15);
        width: rem-calc(75);
      }
      .icons-container {
        margin-top: 0;
        width: 100%;
        .min-icon {
          float: left;
          margin-right: 3px;
        }
      }
      .text {
        display: table-cell;
        vertical-align: middle;
        padding-bottom: rem-calc(15);
      }
    }
  }
  .site-logo {
    $el-min-width: rem-calc(255);
    $el-width: 20%;

    background: image-url('topbar-logo.png') no-repeat;
    height: rem-calc(80);
    min-width: $el-min-width;
    width: $el-width;
    display: inline-block;
    position: absolute;
    left: 50% - $el-width/2;
    margin-top: 5px;
  }
  a {
    font-family: 'mic-bold';
    color: #333333
  }
  a>.inner {
    box-sizing: border-box;
    height: $topbar-height;
    border-top: 3px solid #fff;
    transition: border-color 0.2s ease,color 0.2s ease;
  }
  a:hover>.inner {
    color: #f45c10;
    border-top: rem-calc(3) solid #f45c10;
  }
}
