- title @stage.full_title
.page-heading
  %h1
    = @stage.full_title
%hr
.row
  %h4
    = t('activerecord.attributes.activity_lines/lider/ya_lider/stage.participants')
  = render 'web/admin/activity_lines/lider/ya_lider/participants/list', activity_lines_lider_ya_lider_participants: Kaminari.paginate_array(@stage.current_participants).page(params[:page])
  - if @stage.is_the_first?
    = link_to t('helpers.links.add'), new_admin_activity_lines_lider_ya_lider_participant_path(activity_lines_lider_ya_lider_particpant: { contest_id: @stage.contest_id }), class: 'btn btn-success'
