.confessions
  .years
    position: fixed
    right: 15px
    top: 100px
    width: 75px
    .year
      width: 75px
      height: 75px
      background: linear-gradient(to top, #f45c10, #f45c10)
      border-radius: 50%
      text-align: center
      color: white
      padding-top: 23px
      font-size: 23px
      cursor: pointer
      margin-bottom: 5px
      float: right
  .confessions_people
    .confessions_of_the_year
      height: 300px
      width: 100%
      margin-left: 15px
      margin-right: 15px
      border-top: 2px solid darkgrey
      text-align: center
      .year_text
        width: 100px
        margin-top: -18px
        font-family: 'mic-bold'
        font-size: 20pt
        background-color: white
      &:first-child
        margin-top: 30px
