@import "../icons"

table.contact-list-team-table
  width: 100% 
  th:first-child
    width: 75px
  th:last-child
    width: 150px
  th.mobile_phone_link
    width: 135px
  th.email_link
    width: 225px
  .columns.social_links
    padding: 0
    text-align: center
    &.twitter
      i
        color: $twitter-color
    &.vkontakte
      i
        color: $vkontakte-color
    &.facebook
      i
        color: $facebook-color
    &.google
      i
        color: $google-color
  .avatar
    width: 50px
