$corp_color: #ffa911

.row.history-user-pic-row
  width: 300px
  margin-bottom: 40px
.mic-userpic-circle.history-mic-userpic-circle
  z-index: 10
.mic-userpic-circle.history-mic-userpic-circle:before
  content: ''
  display: block
  position: absolute
  z-index: -1
  top: -6px
  left: 9px
  right: 0px
  bottom: -5px
  border: 3px solid $corp_color
  border-radius: 50%
a
  color: $corp_color
a:hover
  div
    opacity: 0.5

.event-circle
  border-radius: 50%
  background-color: black
  width: 20px
  height: 20px
  float: left
  margin-top: 40px
  margin-right: 5px

.events-row
  height: 120px

.event-year
  position: absolute
  font-size: 30px
  color: white
  font-weight: bold
