.honorables.row
  margin-right: 5%
  margin-left: 5%
  margin-top: 15px
  width: 100% !important
  text-align: justify
  .honorables_people
    height: auto
    float: left
    width: 95%
    .honorable_member
      float: left
      width: 25%
