div
  position: absolute
  &.full-page-logo
    width: 100%
    height: 100%
    background-size: 50% auto
    background-repeat: no-repeat
    background-position: center left
    background-image: asset-url('articles/presentation/logos/logo-mic-square.png')

  @for $i from 1 through 24
    &#background-#{$i}
      background-image: asset-url('articles/presentation/#{$i}.jpg')
      width: 100%
      height: 100%
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      opacity: 0.3
  &.theme-button
    width: 20%
    cursor: pointer
    background-size: cover
    background-position: center bottom
    .title
      width: 100%
      height: 30%
      background-color: inherit
      opacity: 1
      bottom: 0
      border-top: 10px solid white
      font-size: 150%
      color: white
      text-align: center
      font-family: mic-bold
      display: none
    &#activity_lines
      background-color: lightblue
      background-image: asset-url('articles/presentation/24.jpg')
      top: 15%
      left: 75%
    &#mission
      background-color: lightgreen
      background-image: asset-url('articles/presentation/22.jpg')
      top: 55%
      left: 50%
    &#info
      background-color: aqua
      background-image: asset-url('articles/presentation/25.jpg')
      top: 55%
      left: 75%
    &#mic_is
      background-color: orange
      background-image: asset-url('articles/presentation/12.jpg')
      top: 15%
      left: 50%

#background-8
  top: 100%
section
  position: absolute
  div.columns
    height: 100%
  &.themes-content
    width: 100%
    height: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    text-align: center
    &#mic_is_content
      top: 100%
      h1
        font-size: 3500%
        color: orange
        line-height: 1
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
      h2
        font-size: 1000%
        color: orange
        line-height: 0
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
      h3
        line-height: 2
