.footer
  .footer-container
    %section.footer-menu
      .footer-menu__container
        %h6 О нас
        %ul
          %li
            %a{href='#', title='Кто мы такие?'} Кто мы такие?
          %li
            %a{href='#', title='План работы'} План работы
          %li
            %a{href='#', title='Отделения'} Отделения
          %li
            %a{href='#', title='Корпоратив'} Корпоратив
          %li
            %a{href='#', title='Медиа'} Медиа
      .footer-menu__container
        %h6 С чего начать
        %ul
          %li
            %a{href='#',title='Вступить в МИЦ'} Вступить в МИЦ
          %li
            %a{href='#', title='Открыть отделение'} Открыть отделение
          %li
            %a {href='#', title='Открыть первичку'} Открыть первичку
      .footer-menu__container
        %h6 Партнерам
        %ul
          %li
            %a {href='#', title='Сотрудничать с МИЦ'} Сотрудничать с МИЦ
          %li
            %a {href='#', title='Реквизиты'} Реквизиты
          %li
            %a {href='#', title='Контакты'} Контакты
    %section.footer-newsletter
      %p.footer-newsletter__title Подпишитесь на нашу рассылку и получайте новости в числе первых!
      %form
        %input{type='email', placeholder='Ваш email'}
        %button.button{type='submit'} Подписаться
    %section.footer-bottom
      .footer-bottom__social
        //TODO: привести ссылки в вид, понимаемый haml. Как они должны выглядеть в html - ниже
        //<a href="http://vk.com/ulmic"><i class="fa fa-vk" aria-hidden="true"></i></a>
        //<a href="https://www.instagram.com/ulmicru/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        //<a href="http://twitter.com/ulmicru"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        //<a href="https://www.youtube.com/user/ulmic73"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        //<a href="https://www.facebook.com/molcenter"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        //<a href="https://plus.google.com/b/109518417712111969312/109518417712111969312/posts"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
        //<a href="https://ulmic.ru/articles/19"><i class="fa fa-rss" aria-hidden="true"></i></a>
      .footer-bottom__copyright 2007-2017, © УОМОО МИЦ