.footer
  .left.menu
    -#.menu-item
      %a{ href: "#" }
        Миц - это ...
    -#.menu-item
      %a{ href: "#" }
        Партнёры
    .menu-item
      %a{ href: "#" }
        Контакты

  .right.social
    .icons
      %a.blank{ href: configus.social_networks_pages.vkontakte }
        .min-icon.icon-vk
      %a.blank{ href: configus.social_networks_pages.twitter }
        .min-icon.icon-twitter
      %a.blank{ href: configus.social_networks_pages.facebook }
        .min-icon.icon-facebook
      %a.blank{ href: configus.social_networks_pages.google_plus }
        .min-icon.icon-google
    .contacts.row
      .small-6.columns
        %a.mail{ href: "#" }
          %span.icon.icon-mail
          %span activ@ulmic.ru
      .small-6.columns
        %a.phone{ href: "#" }
          %span.icon.icon-phone
          %span +7&nbsp;(8422)&nbsp;96-43-37
