.footer
  .left.menu
    .menu-item
      %a{ href: "#" }
        Новости и события
    .menu-item
      %a{ href: "#" }
        Миц - это ...
    .menu-item
      %a{ href: "#" }
        Партнёры
    .menu-item
      %a{ href: "#" }
        Контакты

  .right.social
    .icons
      %a{ href: "#" }
        .icon.icon-vk
      %a{ href: "#" }
        .icon.icon-twitter
      %a{ href: "#" }
        .icon.icon-facebook
      %a{ href: "#" }
        .icon.icon-google
      %a{ href: "#" }
        .icon.icon-instagram
    .contacts
      %a.mail{ href: "#" }
        .icon.icon-mail
        %span activ@ulmic.ru
      %a.phone{ href: "#" }
        .icon.icon-phone
        %span +7&nbsp;(8422)&nbsp;96-43-37
