.main-navbar-container
  %nav.top-bar{"data-topbar" => ""}
    %section.top-bar-section
      .container-big
        %ul.right
          %li.icons-container
            .icons
              %a{ href: auth_path(:vkontakte) }
                .icon-vk
              %a{ href: auth_path(:twitter) }
                .icon-twitter
              %a{ href: auth_path(:facebook) }
                .icon-facebook
              %a{ href: new_session_path }
                .icon-door

          %li.banner-container
            .banner
              .text
                Жизнь
                %br
                в стиле миц
          %li
            = link_to article_path(:contacts) do
              .inner
                Контакты
          %li
            %a{ href: "#" }
        %a.site-logo{ href: root_path }
        %ul.left
          %li.has-dropdown.dropdown-category-menu
            %a{href: "#"}
              .inner
                Миц - это ...
            %ul.dropdown
              #category_menu.category-menu
                - if @first_category.present?
                  .category-column
                    .menu-title
                      = @first_category.name
                    - @first_category.articles.each do |article|
                      = link_to article.title, article_path(article)
                    %a{href: "#"}
                      МИЦ как организация
                    %a{href: "#"}
                      История создания
                    %a{href: "#"}
                      Устав
                    %a{href: "#"}
                      Наша миссия и цели
                    %a{href: "#"}
                      Гордость
                    %a{href: "#"}
                      СМИ о нас
                - if signed_in?
                  .category-column
                    .menu-title Программы и проекты
                    %a{href: "#"}
                      Программа «Лидер»
                    %a{href: "#"}
                      Программа «Inформация»
                    %a{href: "#"}
                      Программа «Добро»
                    %a{href: "#"}
                      Программа «Право»
                    %a{href: "#"}
                      Проект «Информационные технологии»
                    %a{href: "#"}
                      Проект «Диалог культур»
                  - if @korporative_category.present?
                    .category-column
                      .menu-title Корпоративные проекты
                      - @korporative_category.articles.presented.each do |article|
                        = link_to article.title, article_path(article)
                  .category-column
                    .menu-title Библиотека
                    %a{href: "#"}
                      «Активаторы»
                    %a{href: "#"}
                      Газета «Этажи»
                    %a{href: "#"}
                      Методические разработки
                - else
                  .category-column
                    .menu-title Деятельность
                    %a{href: "#"}
                      Профильные смены
                    %a{href: "#"}
                      Конкурс актива учащейся молодёжи «Я-лидер!»
                    %a{href: "#"}
                      Конкурс начинающих журналистов «Новый взгляд»
                    %a{href: "#"}
                      Марафон молодёжных инициатив
                    %a{href: "#"}
                      ALLMOL
                    %a{href: "#"}
                      Гражданиада
                    %a{href: "#"}
                      Уроки интернет-безопасности
                    %a{href: "#"}
                      «На старт!»
                  .category-column
                    .menu-title Программы и проекты
                    %a{href: "#"}
                      Программа «Лидер»
                    %a{href: "#"}
                      Программа «Inформация»
                    %a{href: "#"}
                      Программа «Добро»
                    %a{href: "#"}
                      Программа «Право»
                    %a{href: "#"}
                      Проект «Информационные технологии»
                    %a{href: "#"}
                      Проект «Диалог культур»
                    %a{href: "#"}
                      Корпоративная проекты
                  .category-column
                    .menu-title Команды МИЦ
                    %a{href: "#"}
                      г.Ульяновск
                    %a{href: "#"}
                      г.Димитровград
                    %a{href: "#"}
                      г. Новоульяновск
                    %a{href: "#"}
                      Радищевский район
                    %a{href: "#"}
                      Базарносызганский район
                    %a{href: "#"}
                      Новосспаский район
                    %a{href: "#"}
                      Создать своё
          %li
            %a{href: "#"}
              .inner
                Партнёры
