.main-navbar-container
  %nav.top-bar{"data-topbar" => ""}
    %section.top-bar-section
      .container-big
        %ul.right
          %li
            %a{:href => "#"}
              .inner
                Контакты
          %li
            %a{:href => "#"}
        %a{class:"site-logo",:href => "#"}
          Молодёжный
          Инициативный Центр
        %ul.left
          - ["Новости и события", "Миц - это ...", "Партнёры"].each do |item|
            %li
              %a{:href => "#"}
                .inner
                  = item