.main-navbar-container
  %nav.top-bar{"data-topbar" => ""}
    %section.top-bar-section
      .container-big
        %ul.right
          %li.banner-container
            .banner
              .text
                Жизнь
                %br
                в стиле миц
          %li
            %a{:href => "#"}
              .inner
                Контакты
          %li
            %a{:href => "#"}
        %a{class:"site-logo",:href => "#"}
        %ul.left
          %li
            %a{:href => "#"}
              .inner
                Новости и события
          %li.has-dropdown
            %a{:href => "#"}
              .inner
                Миц - это ...
            %ul.dropdown
              %li
                %a{:href => "#"}
                  HUI
          %li
            %a{:href => "#"}
              .inner
                Партнёры
