%nav.top-bar.main-navbar{"data-topbar" => ""}
  %section.top-bar-section
    %ul.right
      %li
        %a{:href => "#"}
          .inner
            Контакты
      %li
        %a{:href => "#"}
    %ul.left
      %li
        %a{:href => "#"}
          .inner
            Новости и события
      %li
        %a{:href => "#"}
          .inner
            МИЦ - это ...
      %li
        %a{:href => "#"}
          .inner
            Партнёры
