%p
  Привет, 
  = @user.first_name
  \, довожу до Твоего сведения, что на сайте добавлено ходатайство на премию "Признание" на
  = @member.short_name
  прошу провести ревью этого ходатайства и опубликовать его.
%p
  %b
    Спасибо! Твой МИЦ.
