- tabs = Concerns::NotificatableItems.items
- title
- if no_any_unviewed?
  %h2
    = t('.there_is_not_any_unviewed_record')
- else
  .tabs
    %ul.nav.nav-tabs{ role: :tablist }
      - tabs.each do |tab|
        - if @counts[tab] > 0
          %li{ class: (:active if params[:items] == tab.to_s)}
            = link_to unviewed_tab_title(tab, @counts[tab]), admin_unviewed_index_path(items: tab)
    - pluralize_tab = params[:items].to_s.pluralize(:en)
    %div{ id: params[:items] }
      = render "web/admin/#{pluralize_tab}/list", pluralize_tab.to_sym => @unviewed
