// =============================================
// Breakpoints
// =============================================

$bp-xsmall: 420px;
$bp-small: 599px;
$bp-medium: 767px;
$bp-large: 945px;
$bp-xlarge: 1199px;

@mixin bp($feature, $value) {
    @media only screen and ($feature: $value) {
        @content;
    }
}

// =============================================
// Easier Responsive Mixins
// =============================================

@mixin breakpoint-extra-small() {
    @include bp(max-width, $bp-xsmall) {
        @content
    }
}

@mixin breakpoint-small() {
    @include bp(max-width, $bp-small) {
        @content
    }
}

@mixin breakpoint-medium() {
    @include bp(max-width, $bp-medium) {
        @content
    }
}

@mixin breakpoint-large() {
    @include bp(max-width, $bp-large) {
        @content
    }
}

@mixin breakpoint-extra-large() {
    @include bp(max-width, $bp-xlarge) {
        @content
    }
}

@mixin breakpoint-medium-or-larger() {
    @include bp(min-width, $bp-medium + 1) {
        @content
    }
}

@mixin breakpoint-large-or-larger() {
    @include bp(min-width, $bp-large + 1) {
        @content
    }
}

@mixin breakpoint-xl-or-larger() {
    @include bp(min-width, $bp-xlarge + 1) {
        @content
    }
}