@font-face {
    font-family: 'mic';
    src: font-url('mic/PFBeauSansPro-Light.eot');
    src: font-url('mic/PFBeauSansPro-Light.eot?#iefix') format('embedded-opentype'),
    font-url('mic/PFBeauSansPro-Light.woff') format('woff'),
    font-url('mic/PFBeauSansPro-Light.ttf') format('truetype'),
    font-url('mic/PFBeauSansPro-Light.svg#PFBeauSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'mic-beau-reg';
    src: font-url('mic-reg/PFBeauSansPro-Regular.eot');
    src: font-url('mic-reg/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    font-url('mic-reg/PFBeauSansPro-Regular.woff') format('woff'),
    font-url('mic-reg/PFBeauSansPro-Regular.ttf') format('truetype'),
    font-url('mic-reg/PFBeauSansPro-Regular.svg#PFBeauSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mic-beau-sebold';
    src: font-url('mic-sebold/PFBeauSansPro-SemiBold.eot');
    src: font-url('mic-sebold/PFBeauSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    font-url('mic-sebold/PFBeauSansPro-SemiBold.woff') format('woff'),
    font-url('mic-sebold/PFBeauSansPro-SemiBold.ttf') format('truetype'),
    font-url('mic-sebold/PFBeauSansPro-SemiBold.svg#PFBeauSansPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'mic-bold';
    src: font-url('mic-bold/PFBeauSansPro-Bold.eot');
    src: font-url('mic-bold/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    font-url('mic-bold/PFBeauSansPro-Bold.woff') format('woff'),
    font-url('mic-bold/PFBeauSansPro-Bold.ttf') format('truetype'),
    font-url('mic-bold/PFBeauSansPro-Bold.svg#PFBeauSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'mic-square-thin';
    src: font-url('mic-square-thin/PFSquareSansPro-Thin.eot');
    src: font-url('mic-square-thin/PFSquareSansPro-Thin.eot?#iefix') format('embedded-opentype'),
    font-url('mic-square-thin/PFSquareSansPro-Thin.woff') format('woff'),
    font-url('mic-square-thin/PFSquareSansPro-Thin.ttf') format('truetype'),
    font-url('mic-square-thin/PFSquareSansPro-Thin.svg#PFSquareSansPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'mic-square-light-italic';
    src: font-url('mic-square-light-italic/PFSquareSansPro-LightItalic.eot');
    src: font-url('mic-square-light-italic/PFSquareSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    font-url('mic-square-light-italic/PFSquareSansPro-LightItalic.woff') format('woff'),
    font-url('mic-square-light-italic/PFSquareSansPro-LightItalic.ttf') format('truetype'),
    font-url('mic-square-light-italic/PFSquareSansPro-LightItalic.svg#PFSquareSansPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'mic-square-reg';
    src: font-url('mic-square-reg/PFSquareSansPro-Regular.eot');
    src: font-url('mic-square-reg/PFSquareSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    font-url('mic-square-reg/PFSquareSansPro-Regular.woff') format('woff'),
    font-url('mic-square-reg/PFSquareSansPro-Regular.ttf') format('truetype'),
    font-url('mic-square-reg/PFSquareSansPro-Regular.svg#PFSquareSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mic-square-medium';
    src: font-url('mic-square-medium/PFSquareSansPro-Medium.eot');
    src: font-url('mic-square-medium/PFSquareSansPro-Medium.eot?#iefix') format('embedded-opentype'),
    font-url('mic-square-medium/PFSquareSansPro-Medium.woff') format('woff'),
    font-url('mic-square-medium/PFSquareSansPro-Medium.ttf') format('truetype'),
    font-url('mic-square-medium/PFSquareSansPro-Medium.svg#PFSquareSansPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'mic-square-bold';
    src: font-url('mic-square-bold/PFSquareSansPro-Bold.eot');
    src: font-url('mic-square-bold/PFSquareSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    font-url('mic-square-bold/PFSquareSansPro-Bold.woff') format('woff'),
    font-url('mic-square-bold/PFSquareSansPro-Bold.ttf') format('truetype'),
    font-url('mic-square-bold/PFSquareSansPro-Bold.svg#PFSquareSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');

@font-face {
    font-family: FontAwesome;
    src: font-url('fontawesome/fontawesome-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import '../../fonts/fontawesome/fontawesome.css';

$f-mic: mic, 'Open Sans', Arial, sans-serif;
$f-base: 'Roboto', sans-serif;
