$c-white: #ffffff;
$orange: #f45c10;
$c-orange: $orange;
$c-orange-light: #ffa911;
$c-red: #f04124;
$c-gray-light: #aaaaaa;
$c-gray: #2b2a29;
$c-black: #000000;

$container-width: 1350px;

$padding-trim: 15px;

$social-brand-facebook: #3b5998;
$social-brand-twitter: #55acee;
$social-brand-linkedin: #007bb5;
$social-brand-youtube: #bb0000;
$social-brand-instagram: #125688;
$social-brand-pinterest: #cb2027;
$social-brand-google-plus: #dd4b39;
$social-brand-github: #000000;
$social-brand-tumblr: #32506d;