// Place all the styles related to the web/application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require foundation
//= require web/foundation/application
//= require pictonic
//= require web/welcome
//= require web/events
//= require web/news
//= require web/articles
//= require web/account
//= require web/sessions
//= require select2
//= require jasny-bootstrap

@import "foundation/functions";

@font-face {
  font-family: 'mic-bold';
  src: font-url('PFSquareSansPro-Medium.ttf');
}
@font-face {
  font-family: 'mic-square-thin';
  src: font-url('PFSquareSansPro-Thin.ttf');
}
@font-face {
  font-family: 'mic-square-reg';
  src: font-url('PFSquareSansPro-Regular.ttf');
}
@font-face {
  font-family: 'mic-square-light-italic';
  src: font-url('PFSquareSansPro-LightItalic.ttf');
}
@font-face {
  font-family: 'mic';
  src: font-url('PFBeauSansPro-Light.ttf');
}
@font-face {
  font-family: 'mic-beau-sebold';
  src: font-url('PFBeauSansPro-SeBold.ttf');
}
@font-face {
  font-family: 'mic-beau-reg';
  src: font-url('PFBeauSansPro-Reg.ttf');
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'mic-bold';
}
h3,h4,h5 {
  margin: 0.5rem 0;
}
body {
  font-family: 'mic';
  color: #333333;
}
body#noresponsive {
    min-width: 1100px;
}
.container-big {
  width: 95%;
  margin: 0 auto;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.row {
		max-width: 80rem;
}
.clear-fix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}


.footer {
  background: image-url('footer-icons.png');
  background: image-url('footer-icons2.png');

  border-top: 3px solid #ffa911;
  height: rem-calc(230);
  background: black;
  font-family: mic;
  a {
    color: white;
  }
  a:hover {
    color: #f45c10;
  }
  color: white;
  .menu, .social {
    margin-top: rem-calc(40);
  }
  .menu {
    width: 50%;
    margin-left: 4%;
    .menu-item {
      display: inline-block;
      margin-left: 5%;
    }
  }
  .social {
    margin-right: 8%;
    .icons {
      &>a {
        display: inline-block;
        margin: 0;
        margin-right: 3%;
        vertical-align: middle;
        padding: 0;
      }
    }
    .icon {
      width: 27px;
      height: 28px;
      display: inline-block;
      background: image-url('footer-icons.png');
      background-size: 205px;
    }
    .icon-instagram {
      background: image-url('footer-icons2.png');
      background-position: 29px;
      width: 29px;
      height: 27px;
    }
    .icon-mail {
      background-position: 0px 27px;
    }
    .icon-phone {
      background-position: 27px 27px;
    }
    .contacts {
      margin-top: rem-calc(20);
      .mail, .phone {
          display: inline-block;
          min-width: 175px;
				  &>span {
						  white-space: nowrap;
				  }
      }
      .mail {
        padding-right: 13%;
      }
    }
    .icon {
        vertical-align: middle;
    }
  }

}

ul {
		list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJElEQVQYV2NkIBIwIqv73MLwH10fbw0DWM2QU4gvAFA8Q1+FAM9iDwueLssPAAAAAElFTkSuQmCC");
}

.select2-container {
  width: 100%;
  margin-bottom: 10px;
  &.select2-container-active {
    .select2-choices {
      border-color: #aaa;
    }
  }
  .select2-choices {
    li.select2-search-choice {
      border-radius: 0;
      line-height: 1.6;
      div {
        margin-top: 2px;
      }
    }
  }
}

.select2-container-multi {
  .select2-search-choice-close {
    left: 4px;
    top: 9px;
  }
}

.select2-drop.select2-drop-multi.select2-display-none.select2-drop-active {
  border-radius: 0;
  border-color: #aaa;
  .select2-results {
    .select2-highlighted {
      background-color: #fc9727;
    }
  }
}

.columns {
  &.email {
    padding-left: 0;
  }
}

input[type=checkbox] {
  width: 39px;
  height: 39px;
}

.preview {
  img {
    max-width: 50%;
    width: auto;
  }
}
