.mic-event {
		text-align: justify;
		img {
				width: 100%;
				height: rem-calc(195);
		}
		section {
				margin: 10px 0px;
		}
		.event-category {
				font-size: rem-calc(16);
				position: relative;
				padding-top: 10px;
				color: #f45c10;
				border-top: 4px solid #f45c10;
				text-transform: uppercase;
		}
		.event-date {
				font-size: rem-calc(16);
				margin-left: 15px;
		}
}

.mic-programm {
		text-align: justify;
		img {
				width: 100%;
				height: rem-calc(195);
		}
		section {
				margin: 10px 0px;
				text-align: center;
		}
		.programm-name {
				font-size: rem-calc(16);
				q {
						margin-left: rem-calc(5);
						font-family: mic-beau-reg;
						quotes: "«" "»";
						color: #f45c10;
						text-transform: uppercase;
						white-space: nowrap;
				}
		}
}

.mic-one-news {
		text-align: justify;
		img {
				width: 100%;
				height: rem-calc(195);
		}
		section {
				margin: 10px 0px;
				text-align: center;
		}
		.news-date {
				float: left;
				font-family: mic;
				font-size: rem-calc(12);
				color: #f45c10;
				.icon-calendar {
						vertical-align: text-bottom;
						margin-right: 4px;
				}
		}
		.news-title {
				font-size: rem-calc(16);
				clear: both;
				text-align: justify;
		}
}
