@import "mixins";
@import "elements";
@import "icons";

$left-header-margin: 10px;
$event-lead-margin: 2rem;
$slopy-height: 140px;
.event-container {
		padding-top: 24px;
		padding-bottom: $slopy-height;
    font-family: 'mic-square-reg';
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;
		&:after {
				height: $slopy-height;
				content: "";
				position: absolute;
				bottom: 0;
				background-color:#fff;
				padding-bottom:10%;
				width:101%;

				-webkit-transform: rotate(5.7deg) skewX(6deg);
				-ms-transform: rotate(5.7deg) skewX(6deg);
				transform: rotate(5.7deg) skewX(6deg);

				-webkit-transform-origin:0 0;
				-ms-transform-origin:0 0;
				transform-origin:0 0;
		}
}
.event-container.more-info-viewed {
		padding-bottom: 40px;
		&:after {
				transform: rotate(0deg) skewX(0deg);
				-ms-transform: rotate(0deg) skewX(0deg);
				-webkit-transform: rotate(0deg) skewX(0deg);
				padding-bottom: 0%;
				height: 0;
		}
}

.event-header-overlay {
		height: 100%;
		width: 100%;
		background-color: #000;
		left: 0;
		top: 0;
		position: absolute;
		opacity: 0.40;
}
.event-header {
		color: white;
		position: relative;
		.title {
				margin-left: $left-header-margin/2;
				color: #ffffff;
				font-size: 56px;
				font-family: 'mic-square-reg';
		}
		.when-and-where {
				margin-left: - $left-header-margin;
				margin-top: 11px;
				.mic-label-black {
						font-size: rem-calc(30);
						line-height: 40px;
						width: 100%;
				}
				.labels, .texts {
						display: inline-block;
				}
				.where {
						margin-top: 12px;
				}
		}
		.event-label-text {
				display: inline-block;
				font-size: rem-calc(30);
				margin-left: 35px;
				vertical-align: baseline;
		}
		.event-lead {
				margin-top: 60px;
				margin-left: $left-header-margin;
				margin-left: $event-lead-margin;
				margin-right: - $event-lead-margin;
				font-family: mic;
				font-size: rem-calc(20);
				text-align: justify;
		}
		.event-more-info {
				text-align: center;
				.more-info {
						font-family: 'mic-square-light-italic';
						color: white;
						text-decoration: underline;
						font-size: rem-calc(20);
				}
		}
		.organizers {
				font-family: mic;
				margin-top: 48px;
				margin-left: 1rem;
				.organizers-title {
						font-size: rem-calc(28);
				}
				.organizers-names {
						margin-top: 1rem;
						margin-left: 1rem;
				}
				.organizer {
						font-size: rem-calc(24);
						line-height: rem-calc(24);
				}
		}
		.join-button {
				position: absolute;
				bottom: -2rem;
				left: 2rem;
		}
}
.event-content.container {
		margin-bottom: 100px;
}
.event-content {
		.more-lead-info {
				margin-left: $event-lead-margin;
		}
		.participans-container {
				.title {
						font-family: mic-square-reg;
						font-size: rem-calc(36);
						color: #F45C10;
						//color: #333; // может черный лучше?
				}
				.participants {
						margin-top: 24px;
				}
				.get-more-participants {
						text-align: center;
						.mic-press-button {
								background-color: #F77838;
						}
				}
		}
}