@import "mixins";
@import "elements";
@import "icons";

$left-header-margin: 10px;
.event-container {
		padding-top: 24px;
		padding-bottom: 160px;
    font-family: 'mic-square-reg';
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;
		&:after {
				height: 140px;
				content: "";
				position: absolute;
				bottom: 0;
				background-color:#fff;
				padding-bottom:10%;
				width:101%;


				-webkit-transform: rotate(5.7deg) skewX(6deg);
				-ms-transform: rotate(5.7deg) skewX(6deg);
				transform: rotate(5.7deg) skewX(6deg);

				-webkit-transform-origin:0 0;
				-ms-transform-origin:0 0;
				transform-origin:0 0;

		}
}

.event-header-overlay {
		height: 100%;
		width: 100%;
		background-color: #000;
		left: 0;
		top: 0;
		position: absolute;
		opacity: 0.35;
}
.event-header {
		color: white;
		max-width: 80rem;
		position: relative;
		.title {
				margin-left: $left-header-margin/2;
				color: #ffffff;
				font-size: 56px;
				font-family: 'mic-square-reg';
		}
		.when-and-where {
				margin-left: - $left-header-margin;
				margin-top: 11px;
				.mic-label-black {
						font-size: rem-calc(30);
						width: 100%;
				}
				.labels, .texts {
						display: inline-block;
				}
				.where {
						margin-top: 12px;
				}
		}
		.event-label-text {
				display: inline-block;
				font-size: rem-calc(30);
				margin-left: 35px;
				vertical-align: baseline;
		}
		.event-lead {
				margin-top: 60px;
				margin-left: $left-header-margin;
				font-family: mic;
				font-size: rem-calc(20);
				text-align: justify;
		}
		.organizers {
				font-family: mic;
				margin-top: 48px;
				margin-left: 2rem;
				.organizers-title {
						font-size: rem-calc(28);
				}
				.organizers-names {
						margin-top: 1rem;
						margin-left: 2rem;
				}
				.organizer {
						font-size: rem-calc(24);
						line-height: rem-calc(24);
				}
		}
		.join-button {
				position: absolute;
				bottom: -25px;
		}
}