// нужно сюда ещё иконки из хедера и футера
@import "pictonic";
@import "font-awesome";

$twitter-color: #55acee;
$facebook-color: #3b5998;
$vkontakte-color: #45668e;
$google-color: #db4437;

.big-icon {
  font-size: 46px;
  color: white;
  vertical-align: middle;
}
.big-icon {
  &a:hover {
    color: #FFA911;
  }
}
@mixin fa-icon($name) {
    @extend .fa;
    @extend #{$name};
}
@mixin fa-rounded-icon($name) {
  @extend .fa;
  @extend #{$name};
  overflow: hidden;
  border-radius: 19%;
  font-size: 52px;
}
.icon-vkontakte {
  transform: translate(0, 0);
  display: inline-block;
  @extend .icon-rus-vk-01;
  &.colored {
    color: $vkontakte-color;
  }
}
.icon-facebook {
  @include fa-rounded-icon(".fa-facebook-official");
  &.colored {
    color: $facebook-color;
  }
}
.icon-twitter {
  @include fa-rounded-icon(".fa-twitter-square");
  &.colored {
    color: $twitter-color;
  }
}
.icon-google {
  @include fa-rounded-icon(".fa-google-plus-square");
  &.colored {
    color: $google-color; 
  }
}
.icon-rss {
  @include fa-rounded-icon(".fa-rss-square");
}

.min-icon {
  vertical-align: middle;
  padding: 0;
  margin: 0;
  &.icon-vkontakte {
    width: 28px;
    height: 32px;
    font-size: 28px;
    line-height: 32px;
  }
  &.icon-facebook, &.icon-twitter, &.icon-google, &.icon-rss {
    width: 28px;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
  }
}


.icon-calendar {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: image-url("calendar-icon.png") no-repeat;
}

.icon-learn {
  vertical-align: middle;
  background: image-url("learn-icon.png") no-repeat;
  display: inline-block;
  background-size: 31px;
  width: 31px;
  height: 22px;
}

.icon-pointer {
  vertical-align: middle;
  background: image-url("pointer-icon.png") no-repeat;
  display: inline-block;
  background-size: 17px;
  width: 17px;
  height: 26px;
}

.icon-addition {
  background: image-url("addon.png") no-repeat;
  width: 64px;
  height: 60px;
}

.icon-download {
  background: image-url("download-icon.png") no-repeat;
  width: 14px;
  height: 16px;
}

.icon-stage {
  background: image-url("stage-icon.png") no-repeat;
  background-size: 24px;
  width: 24px;
  height: 24px;
}

.icon-bigcalendar {
  background: image-url("big-calendar-icon.png") no-repeat;
  background-size: 60px;
  width: 60px;
  display: inline-block;
  height: 60px;
}

.icon-eye {
    @include fa-icon(".fa-eye");
}
.icon-comment {
    @include fa-icon(".fa-comment");
}

.icon-tags {
  background: image-url("tag-icon.png") no-repeat;
  width: 27px;
  height: 20px;
}

.icon-fa-tags {
    @include fa-icon(".fa-tags");
}

.icon-human {
  background: image-url("human-icon.png") no-repeat;
  width: 17px;
  height: 23px;
}
