// =require slick
@import "mixins";
@import "elements";
@import "icons";
@import "foundation/components/grid";
@import "foundation/components/grid";

$orange: #ffa531;
@mixin arrow ($width:13px, $height: 21px) {
  content: "";
  width: $width;
  height: $height;
  position: relative;
  left: -26px;
  top: -11px;
  display: block;
  background: image-url('arrow-left.png') no-repeat;
  background-position: center;
  background-size: cover;
}
.news.row {
  max-width: inherit;
  .main-news-content a {
    color: $orange;
  }
  %img {
    max-width: 100%;
  }
  padding: 50px 0px;
  .news-sidebar {
    @extend .columns;
    width: 23%;
    min-height: 500px;
    padding: 0px;
    h3 {
      font: 400 20px 'mic-square-reg';
      color: #131313;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .big-column {
    padding: 0px;
    width: 54%;
    @extend .columns;
    .main-news-content {
      border: solid 1px #ebebeb;
    }
    h1 {
      font: 300 28px 'mic';
      color: #131313;
    }
    p.news-lead {
      font: 400 16px 'mic-beau-reg';
      color: #131313;
    }
    p.text {
      font: 400 14px / 20px 'mic-beau-reg';
      color: #282828;
    }
  }
  .news-info {
    padding: 4%;
  }
}
.slider-wrap {
  position: relative;
  min-height: 300px;
  .slider-img {
    height: 400px;
  }
}
.slider-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 45px 0 45px 30px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  cursor: pointer;
  &:before {
    content: "";
    width: 13px;
    height: 21px;
    position: relative;
    left: -26px;
    top: -11px;
    display: block;
    background: image-url('arrow-left.png') no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.slider-arrow.right {
  border-width: 45px 30px 45px 0;
  border-color: transparent #ffffff transparent transparent;
  right: 0;
  &:before{
    background: image-url('arrow-right.png') no-repeat;
    background-position: center;
    background-size: cover;
    left: 13px;
    top: -11px;
  }
}
.prev-next-link {
  border-top: solid 1px #ebebeb;
  padding: 10px 18%;
  text-align: center;
  cursor: pointer;
  display: block;
  min-height: 117px;
  position: relative;
  margin-bottom: 18px;
  &:before {
    @extend .slider-arrow:before;
    width: 18px;
    height: 28px;
    left: -20%;
    top: 38px;
  }
  &.next:before {
    @extend .slider-arrow.right:before;
    top: 38px;
    left: 100%;
  }
  .link-info {
    font: 300 12px 'mic';
    color: #656565;
    text-transform: uppercase;
    margin-bottom: 23px;
  }
  .link-name {
    font: 300 16px 'mic';
    color: #282828;
  }
}
.related-event, .related-news {
  padding: 18px;
  border-top: solid 1px #ebebeb;
  .mic-event2 {
    margin-bottom: 50px;
  }
}
.related-news {
  .all-news-container {
    text-align: center;
    margin-top: 20px;
    .all-news-text {
      text-transform: uppercase;
      font-family: mic-bold;
      border-bottom: 3px solid #ffa531;
    }
  }
}
.side-content {
  .mic-one-news {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.last-news {
  margin-bottom: 24px;
  &:after {
    @extend .row:after;
  }
  .wrap {
    float: left;
  }
  img {
    width: 117px;
    height: 117px;
    margin-right: 10px;
    display: block;
  }
  .category {
    font: 300 16px 'mic';
    border-top: 4px solid $orange;
    display: inline-block;
    color: $orange;
    &:hover {
      color: $orange;
    }
  }
  section {
    text-align: left;
    p {
      margin-top: 20px;
      font: 300 14px/18px 'mic';
      color: #131313;
    }
  }
  .last-news-date {
    margin-top: 2px;
    font: 300 12px 'mic';
    color: #616161;
    &:hover{
      color: #616161;
    }
  }
}
.news {
  h1 {
    margin-bottom: 2.5rem;
  }
  blockquote {
    font: italic 300 14px 'mic-bold';
    padding: 20px 10px 0px 20px;
    margin-left: -10px;
    border-left: 6px solid #ffa531;
    color: #ffa531;
    &:before {
      left: 0px;
    }
    &:after {
      left: 100%;
      top: 100%;
      margin-left: -40px;
    }
    p {
      color: #282828;
    }
  }
  .author {
    padding: 10px 10px 10px 20px;
    background-color: #fff;
    font-size: 12px;
    margin-left: 15px;
    .human-photo {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      margin: 0px 20px 0px 15px;
      float: left;
    }
    .author-name,.date-text  {
      margin-top: 10px;
    }
    &:hover {
      background-color: #e2e2e2;
    }
  }
  .about {
    .category-wrap {
      &:after {
        @extend .row:after;
      }
    }
    .category {
      float: right;
      padding: 5px 10px 0px 0px;
      border-top: 4px solid $orange;
      font-size: 18px;
      font-family: 'mic-square-reg';
      color: $orange;
    }
  }
  section.about.columns.small-7{
    float: right;
    min-height: 30px;
  }
}
.row.medium-uncollapse > .columns {
  padding: 0;
}
.comments-views {
  margin-top: 5px;
  font: 400 14px 'mic-square-reg';
  color: #616161;
  .view-text {
    margin-right: 10px;
  }
}
.news.row .main-news-content .news-footer {
  border-top: 2px solid #e2e2e2;
  min-height: 145px;
  color:#656565;
  padding: 1rem;
  .min-icon {
    color: #616161;
    transition: color 0.1s ease-in 0s;
    &:hover {
      color: $orange;
    }
  }
  .tags {
    padding: 0;
    .icon-fa-tags {
      margin-right: 9px;
    }
    a {
      font-size: 14px;
      text-transform: uppercase;
      margin-right: 0.5rem;
      color: inherit;
      position: relative;
      top: -0.1rem;
    }
  }
  .share {
    min-height: 36px;
  }
  .people {
    margin-top: 3.3rem;
    min-height: 1px;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .people-img{
    padding-left: 0 !important;
  }
  .human-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    transition: border 0.1s ease-in 0s;
    &:hover {
      opacity: 0.8;
    }
  }
}
.big-column {
  .news-comments {
    margin-top: 30px;
  }
  .best-related-news {
    margin-top: 30px;
    .tabs {
      .left-tab, .right-tab {
        border: solid #ddd;
        border-width: 1px 1px 1px 1px;
      }
      .right-tab {
        margin-left: 10px;
      }
      .tab-title {
        background-color: #fff;
        & > a {
          font-size: 18px;
          font-family: mic-square-reg;
          background-color: #fff;
          border-top: 3px solid #fff;
          padding: 12px;
        }
        &.active {
          border-bottom-color: #fff;
          & > a {
            font-weight: bold;
            border-top: 3px solid #ffa911;
          }
        }
      }
    }
    .tabs-content {
      border: 1px solid #ddd;
      padding: 24px;
      padding-bottom: 0;
      margin-top: -1px;
    }
  }
}
