@import "foundation/functions";

@mixin grayscale() {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  /* filter: url(grayscale.svg#greyscale); Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

.main-slider {
	.main-slider-item {
		height: 342px;
		overflow: hidden;
		.slider-item-info {
			display: none;
		}
	}
	.slick-center {
		.slider-item-info {
			display: block;
			position: relative;
			background-color: rgba(0,0,0,0.5);
			color: #fff;
			top: 40px;
		}
	}
}

.news {
	background-color: #ececec;
	min-height: rem-calc(190);
  .new-slider-item {
    padding-right: 10px;
  }
  .title {
    display: inline-block;
    margin-top: 0;
    padding-top: rem-calc(14);
    font-size: rem-calc(20);
  }
  .right {
    line-height: rem-calc(47);
    .text {
      font-family: mic;
      font-size: rem-calc(11);
    }
  }
  .date {
    font-family: mic;
    font-size: rem-calc(11);
    margin-bottom: rem-calc(4);
  }
  .content {
    font-family: mic;
    font-size: rem-calc(15);
    font-weight: bold;
  }
}

.events{
  position: relative;
  margin-top: rem-calc(20);
  h4.rotate {
    font-size: 20px;
  }
	.rotate {
		position: absolute;
		top: rem-calc(125);
		transform: rotate(270deg);
		transform-origin: 0% 0%;
	}
	.event {
		img {
			width: 100%;
		}
		section {
			margin: 10px 0px;
		}
		.category {
			position: relative;
			padding-top: 10px;
			color: #f45c10;
			border-top: 4px solid #f45c10;
			text-transform: uppercase;
		}
		.date {
			margin-left: 15px;
		}
	}
}

.humans {
  $block-grid-default-spacing: rem-calc(0);

  @import "foundation/components/block-grid";

  li.human {
    height: rem-calc(290);
    text-align: center;
    display: table;
    position: relative;
    .bg-foto, .info {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .bg-foto {
      background-size: cover;
      @include grayscale;
    }
    .info {
      font-family: mic-bold;
      display: none;
    }
    &:hover .info {
      background-color: orange;
      background-color: rgba(187, 28, 0, 0.6);
      color: white;
      display: table;
      .vertical-center {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .name {
      font-size: rem-calc(20);
    }
    .post, .credo {
      margin-top: rem-calc(14);
    }
  }
}
