@import "mixins";

.welcome {
		h3,h4,h5 {
				text-transform: uppercase;
				color: #f45c10;
		}

		.main-slider {
				$slider-height: rem-calc(360);
				height: $slider-height;
				position: relative;
				.left-arrow, .right-arrow {
						$arrow-height: rem-calc(70);
						position: absolute;
						z-index: 1;
						top: $slider-height/2 - $arrow-height/2;
						width: $arrow-height;
						height: $arrow-height;
						display: inline-block !important;
						background-image: image-url('arrow.png');
						background-size: cover;
				}
				.right-arrow {
						right: 9%;
				}
				.left-arrow {
						left: 9%;
						transform: rotate(180deg);
				}
				.main-slider-item {
						height: $slider-height;
						overflow: hidden;
						&:not(.slick-active) {
								@include grayscale(75%);
						}
						.slider-item-info {
								display: none;
						}
				}
				.slick-center {
						position: relative;
						.slider-item-info {
								display: block;
								position: absolute;
								background-color: rgba(0,0,0,0.5);
								color: #fff;
								$item-info-height: rem-calc(60);
								height: $item-info-height;
								top: $slider-height - $item-info-height;
								text-align: center;
								font-size: rem-calc(24);
								line-height: rem-calc(60);
								width: 100%;
						}
				}
		}

		.news {
				background-color: #ececec;
				min-height: rem-calc(190);
				.new-slider-item {
						padding-right: 10px;
				}
				.title {
						display: inline-block;
						margin-top: 0;
						padding-top: rem-calc(14);
						font-size: rem-calc(20);
				}
				.right {
						line-height: rem-calc(47);
						.text {
								font-family: mic;
								font-size: rem-calc(11);
								font-weight: bold;
								text-transform: uppercase;
						}
						.left-arrow, .right-arrow {
								display: inline-block !important;
								background-image: image-url('arrow-small.png');
								background-size: cover;
						}
						.right-arrow {
								transform: rotate(180deg);
						}
						.slider-arrows {
								margin-left: rem-calc(10);
						}
						.arrow {
								width: rem-calc(25);
								height: rem-calc(25);
								vertical-align: middle;
						}
				}
				.date {
						font-family: mic;
						font-size: rem-calc(11);
						margin-bottom: rem-calc(4);
				}
				.content {
						font-family: mic;
						font-size: rem-calc(15);
						font-weight: bold;
				}
		}

		.events{
				position: relative;
				margin-top: rem-calc(20);
				h4.rotate {
						font-size: 20px;
				}
				.rotate {
						position: absolute;
						top: rem-calc(125);
						transform: rotate(270deg);
						transform-origin: 0% 0%;
				}
				.event {
						@include mic-event();
				}
		}

		.humans {

				$block-grid-default-spacing: rem-calc(0);

				@import "foundation/components/block-grid";

				&:after {
						content: ".";
						display: block;
						width: 100%;
						height: rem-calc(12);
						background-color: black;
				}

				li.human {
						height: rem-calc(290);
						text-align: center;
						display: table;
						position: relative;
						.bg-foto, .info {
								width: 100%;
								height: 100%;
								position: absolute;
						}
						.bg-foto {
								background-size: cover;
								@include grayscale;
						}
						.info {
								font-family: mic-bold;
								display: none;
						}
						&:hover .info {
								background-color: orange;
								background-color: rgba(187, 28, 0, 0.6);
								color: white;
								display: table;
								.vertical-center {
										display: table-cell;
										vertical-align: middle;
								}
						}
						.name {
								font-size: rem-calc(20);
						}
						.post, .credo {
								margin-top: rem-calc(14);
						}
				}
		}
		.last-tweets {
				height: 340px;
				background: image-url('tweet.png') no-repeat;
				background-size: cover;
				text-align: center;
				overflow: auto;
				.icon {
						overflow: auto;
						margin: 30px auto 0px auto;
						width: 61px;
						height: 61px;
						background: image-url('tweet-icon.png') no-repeat;
				}
				h2 {
						color: #ffffff;
						font-family: 'mic-thin';
						margin-top: 41px;
				}
				blockquote {
						width: 727px;
						margin: 0 auto;
						border: 0;
						position: relative;
						color: #ffffff;
						&:before {
								display: inline-block;
								line-height: 0;
								height: 0;
								content: open-quote;
								position: absolute;
								left: -15px;
								top: 20px;
								font-size: 50px;
								font-family: 'mic-bold';
						}
						&:after {
								content: close-quote;
								@extend blockquote:before;
								left: 100%;
								top: 100%;
						}
						section {
								margin-top: 20px;
								float: right;
								.author {
										font-family: 'mic-bold';
										border-right: 1px solid #fff;
										padding-right: 6px;
										margin-right: 6px;
										.first-letter {
												font-size: 20px;
												position: relative;
												top: 2px;
												left: 4px;
												color: #ffa911;
										}
								}
								.date {
										font-style: italic;
								}
						}
				}
		}
}
