@import "foundation/functions";

.main-slider {
	.main-slider-item {
		height: 342px;
		overflow: hidden;
		.slider-item-info {
			display: none;
		}
	}
	.slick-center {
		.slider-item-info {
			display: block;
			position: relative;
			background-color: rgba(0,0,0,0.5);
			color: #fff;
			top: 40px;
		}
	}
}

.news {
	background-color: #ececec;
	min-height: rem-calc(190);
  .new-slider-item {
    padding-right: 10px;
  }
  .title {
    margin-top: 0;
    padding-top: rem-calc(14);
    font-size: rem-calc(20);
  }
  .date {
    font-family: mic;
    font-size: rem-calc(11);
    margin-bottom: rem-calc(4);
  }
  .content {
    font-family: mic;
    font-size: rem-calc(15);
    font-weight: bold;
  }
}

.events{
  position: relative;
  margin-top: rem-calc(20);
  h4.rotate {
    font-size: 20px;
  }
	.rotate {
		position: absolute;
		top: rem-calc(125);
		transform: rotate(270deg);
		transform-origin: 0% 0%;
	}
	.event {
		img {
			width: 100%;
		}
		section {
			margin: 10px 0px;
		}
		.category {
			position: relative;
			padding-top: 10px;
			color: #f45c10;
			border-top: 4px solid #f45c10;
			text-transform: uppercase;
		}
		.date {
			margin-left: 15px;
		}
	}
}
