@import "mixins";
@import "icons";

$button_hover_color: rgba(226, 112, 0, 0.71);
$orange: #f45c10;

.welcome {
  flex: 1 0 auto;
  h3,h4,h5 {
    text-transform: uppercase;
    color: #f45c10;
  }

  .main-slider {
    $slider-height: rem-calc(360);
    height: $slider-height;
    position: relative;
    .left-arrow, .right-arrow {
      $arrow-height: rem-calc(75);
      position: absolute;
      z-index: 1;
      top: $slider-height/2 - $arrow-height/2;
      width: $arrow-height;
	  height: $arrow-height + rem-calc(5);
      display: inline-block !important;
      background-image: image-url('arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
    .right-arrow {
      right: 9%;
    }
    .left-arrow {
      left: 9%;
      transform: rotate(180deg);
    }
    .main-slider-item {
      height: $slider-height;
      overflow: hidden;
      &:not(.slick-active) {
        @include grayscale(75%);
      }
      .slider-item-info {
        display: none;
      }
    }
    .slick-center {
      position: relative;
      .slider-item-info {
        display: block;
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        $item-info-height: rem-calc(60);
        height: $item-info-height;
        top: $slider-height - $item-info-height;
        text-align: center;
        font-size: rem-calc(24);
        line-height: rem-calc(30);
        width: 100%;
      }
    }
  }

  .news {
    background-color: #ececec;
    min-height: rem-calc(200);
    .new-slider-item {
      padding-right: 10px;
      .content {
        &.title {
          font-size: rem-calc(14);
          padding-top: 0px;
        }
        &.title, &.date {
          margin-bottom: 0px;
        }
        &.text {
          font-size: rem-calc(12);
          font-weight: normal;
        }
      }
    }
    .title {
      display: inline-block;
      margin-top: 0;
      padding-top: rem-calc(14);
      font-size: rem-calc(20);
    }
    .date {
      font-family: mic;
      font-size: rem-calc(11);
      margin-bottom: rem-calc(4);
    }
    .content {
      font-family: mic;
      font-size: rem-calc(15);
      font-weight: bold;
    }
    .left-arrow, .right-arrow {
      width: 2%;
      height: rem-calc(172);
      margin-top: rem-calc(14);
      padding-top: rem-calc(55);
      text-align: center;
      &:hover {
        opacity: 0.5;
        background-color: $button_hover_color;
        i {
          color: white;
        }
      }
    }
    .container-big{
      float: left;
    }
    .left-arrow {
      margin-right: 0.5%;
      float: left;
    }
    .right-arrow {
      margin-left: 0.5%;
      float: left;
    }
  }

  .events {
    position: relative;
    margin-top: rem-calc(20);
    h4.rotate {
      font-size: 20px;
    }
    .rotate {
      position: absolute;
      top: rem-calc(125);
      transform: rotate(270deg);
      transform-origin: 0% 0%;
    }
    .more-events {
      height: 76px;
      text-align: center;
      background-color: #ececec;
      padding-top: 11px;
      &:hover {
        opacity: 0.5;
        background-color: $button_hover_color;
        i, h2 {
          color: white;
        }
      }
    }
  }

  .humans {

    $block-grid-default-spacing: rem-calc(0);

    @import "foundation/components/block-grid";

    &:after {
      content: ".";
      display: block;
      width: 100%;
      height: rem-calc(12);
      background-color: black;
    }

    li.human {
      height: rem-calc(290);
      text-align: center;
      display: table;
      position: relative;
      .bg-foto, .info {
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .bg-foto {
        background-size: cover;
        background-position: center;
      }
      .info {
        font-family: mic-bold;
        display: none;
      }
      &:hover .info {
        background-color: orange;
        background-color: rgba(226, 112, 0, 0.71);
        color: white;
        display: table;
        .vertical-center {
          display: table-cell;
          vertical-align: middle;
        }
      }
      .name {
        font-size: rem-calc(20);
      }
      .post, .credo {
        margin-top: rem-calc(14);
        line-height: 1.1;
        font-size: 15px;
      }
      .labels {
        position: absolute;
        left: 0;
        li {
          margin-left: 5px;
        }
        .label {
          width: 30px;
          height: 30px;
          padding: 0;
          background: transparent;
        }
      }
    }
  }
  .banner {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    overflow: auto;
  }
  .last-tweets {
    height: 340px;
    background: image-url('tweet.png') no-repeat;
    background-size: cover;
    text-align: center;
    overflow: auto;
    .icon {
      overflow: auto;
      margin: 30px auto 0px auto;
      width: 61px;
      height: 61px;
      background: image-url('tweet-icon.png') no-repeat;
    }
    h2 {
      color: #ffffff;
      font-family: 'mic-thin';
      margin-top: 41px;
    }
    blockquote {
      width: 727px;
      color: #ffffff;
      section {
        margin-top: 20px;
        float: right;
        .author {
          font-family: 'mic-bold';
          border-right: 1px solid #fff;
          padding-right: 6px;
          margin-right: 6px;
          .first-letter {
            font-size: 20px;
            position: relative;
            top: 2px;
            left: 4px;
            color: #ffa911;
          }
        }
        .date {
          font-style: italic;
        }
      }
    }
  }
}
