= render 'web/pages/shared/mr_and_mrs', i: 1, message: t('.this_is_404_error_page')
= render 'web/pages/shared/mr_and_mrs', i: 2, message: t('.this_is_404_error_page')
= render 'web/pages/shared/mr_and_mrs', i: 3, message: t('.this_is_404_error_page')
= render 'web/pages/shared/mr_and_mrs', i: 4, message: t('.this_is_404_error_page')
