%head
  %title
    = @page.title
= stylesheet_link_tag 'web/pages/premel'
.background-div#page_15
  .row-fluid
    .large-12.columns
      %h1
        = @page.title
.premel.page_15
  .row
    .large-12.columns
