Следующий этап выбора достойных получателей награды - голосование. В период с
=l configus.dates.activity_lines.corporative.confession.begining_voting, format: '%d %B %Y'
по
=l configus.dates.activity_lines.corporative.confession.ending_voting, format: '%d %B %Y'
года вы можете поставить лайк или дизлайк, прокомментировать конкретную кандидатуру, нажав на аватарку номинанта. Только авторизованные пользователи могут оставлять своё мнение о кандидатах. Ждём подробных и дельных комментариев, а также объективной оценки личных и деловых качеств номинантов.
