%p
  Вы получили это письмо, потому что этот адрес электронной почты
  был использован для регистрации на сайте Ульяновской
  областной молодёжной общественной организации "Молодёжный инициативный центр" 
  = link_to "http://www.ulmic.ru", root_path
%p
  Если Вы регистрировались на сайте УОМОО "МИЦ", то, чтобы подтвердить свой
  адрес электронной почты и закончить регистрацию на сайте перейдите по #{}
  = link_to "ссылке", confirm_api_user_url(@user, token: @user.token)
  .
%p
  Если Вы не регистрировались на сайте 
  = link_to "http://www.ulmic.ru", root_path
  просто проигнорируйте это письмо.

