%p
  Привет, 
  = @user.first_name
  \, довожу до Твоего сведения, что произошла ошибки при синхронизации с сайтом конкурса Я-лидер!
  Ошибка произшола при создании нового пользователя на сайте для участника конкурса Я-лидер!
