%p
  Вы получили это письмо, потому что этот адрес электронной почты
  был использован для восттановления пароля на сайте Ульяновской
  областной молодёжной общественной организации "Молодёжный инициативный центр"
  = link_to "http://www.ulmic.ru", root_url
%p
  Для восстановления пароля перейдите по
  = link_to "ссылке", edit_remind_password_index_url(token: @user.token)
%p
  Если вы не зарегистрированы на сайте
  = link_to "http://www.ulmic.ru", root_url
  просто проигнорируйте это письмо.
