.row-fluid.deliveries
  %h3
    = t('.deliveries')
  = t('.you_can_subscribe_to_deliveries')
  %br
  %br
  %table
    - Subscription.subscription_type.values.each do |type|
      %tr
        %td
          = enumerize_locales_hash(Subscription, :subscription_type).invert[type.to_sym]
        %td
          - subscription = @subscriptions.map(&:subscription_type).include?(type)
          = check_box_tag type, 'yes', subscription, class: 'subscription', data: { id: @user.id }
