.news-addition
  .icon-addition
  .addition-content
    .addition-title
      = t('.attachment')
    .addition-text
      = document.title
    .addition-download
      = link_to document.file.url do
        .icon-download
        .download-link
          = t('.download')
