%p
  Привет, 
  = @user.first_name
  \, довожу до твоего сведения, что мероприятие 
  = @news.title
  было обновлено
  прошу провести ревью этого мероприятия в удобное для тебя время.
%p
  Посмотреть её ты можешь, перейдя по 
  = link_to 'ссылке', edit_admin_event_url(@event)
%p
  %b
    Спасибо! Твой МИЦ.
