- merit_article_id = 25
= render 'web/admin/default/index', items: @activity_lines_corporative_merits,
                                    default_page_title: default_title,
                                    on_site_link: article_path(merit_article_id)
