- comments.each do |comment|
  .row.comment
    .small-2.columns
      - if comment.user.type == 'Member'
        = image_tag comment.user.avatar.small
      - else
        = image_tag comment.user.default_avatar(:image_url)
    .columns.text{ class: (signed_in? && (current_user.id == comment.user.id || current_user.role.admin?)) ? 'small-9' : 'small-10' }
      %h4
        = comment.user.short_name
      = comment.text
    - if signed_in? && (current_user.id == comment.user.id || current_user.role.admin?)
      .small-1.columns
        .remove{ data: { comment: { id: comment.id } } }
          %i.fa.fa-remove
