= javascript_include_tag 'web/events/index'
- title
.container.mic-form-container
  %h1.title
    = t('.title')
  = render 'web/events/shared/list', events: @events
  .more-events{ style: 'cursor: pointer' }
    = fa_icon 'caret-down 5x'
