.event-container{style: "background-image: url(https://cdn.photographylife.com/wp-content/uploads/2014/06/Nikon-D810-Image-Sample-6.jpg);"}
  .event-header-overlay
  .container
    .event-header.row.large-collapse{ "data-equalizer" => "" }
      %h2.title Молодёжная Лесная Школа
      .small-8.columns{ "data-equalizer-watch" => "" }
        .when-and-where
          .labels
            .when
              .mic-label-black
                Когда:
            .where
              .mic-label-black
                Где:
          .texts
            .when
              .event-label-text
                22-26 августа 2015г.
            .where
              .event-label-text
                Санаторий "Чайка"
        .event-lead
          Последней, но крайней неожиданной новостью для нашей общины оказалась
          полнейшая неготовность к приходу белой лихорадки. Уж казалось бы,
          кризис пережили как жеребята, а тут такой конфуз!
          %br
          Мы с Палычем как полагали - от недостатка это моральных ценностей
          и попрания всего святого. На жаваскрипте кодить не стоило, вот что!
          %br
          А то нынешней молодежы всё нипочем, тащат туда, про что приличные
          люди и говорить порой стесняются, и окромя явы поганой не туда ничего не кладут,
          да и то мерзко.
        .event-more-info
          %a.more-info{ href:"#" }
            Подробнее
      .small-3.columns{ "data-equalizer-watch" => "" }
        .organizers
          .organizers-title
            Организаторы:
          .organizers-names
            - 3.times do
              .organizer
                Павел Калашников
        .join
          -#%a.join-button.mic-press-button{ href: "#" }
          %button.join-button.mic-press-button
            Учавствовать
.event-content.container
  .row.large-collapse{style: "display: none"}
    .more-lead-info.small-8.columns
      text text text text text text text
      text text text text text text text
      text text text text text text text
      text text text text text text text
      text text text text text text text
      text text text text text text text
      text text text text text text text
      text text text text text text text
      text text text text text text text
      text text text text text text text
      text text text text text text text
      text text text text text text text
  .participans-container
    %h3.title
      Участники
      (150)
    %ul.small-block-grid-5.participants
      - 2.times do
        %li.participant.mic-member
          = render_element "mic_member", img_src: "http://cs14107.vk.me/c540101/v540101890/31512/YTONkYds8Y8.jpg", |
                                         link: "#", |
                                         name: "Калашников Павел", |
                                         role: "Организатор"
      - 8.times do
        %li.participant.mic-member
          = render_element "mic_member", img_src: "http://cs14107.vk.me/c540101/v540101890/31512/YTONkYds8Y8.jpg", |
                                         link: "#", |
                                         name: "Калашников Павел"
    .get-more-participants
      %button.mic-press-button.mic-button-small
        увидеть больше
