.event-container{style: "background-color: grey"}
  .container
    .event-header.row.large-collapse{ "data-equalizer" => "" }
      %h2.title Молодёжная Лесная Школа
      .small-8.columns{ "data-equalizer-watch" => "" }
        .when-and-where
          .labels
            .when
              .mic-label-black
                Когда:
            .where
              .mic-label-black
                Где:
          .texts
            .when
              .event-label-text
                22-26 августа 2015г.
            .where
              .event-label-text
                Санаторий "Чайка"
        .event-lead
          Последней, но крайней неожиданной новостью для нашей общины оказалась
          полнейшая неготовность с приходу белой лихорадки. Уж казалось бы,
          кризис пережили как жеребята, а тут такой конфуз!
          %br
          Мы с Палычем как полагали - от недостатка это моральных ценностей
          и попрания всего святого. На жаваскрипте кодить не стоило, вот что!
          %br
          А то нынешней молодежы всё нипочем, тащат туда, про что приличные
          люди и говорить порой стесняются, и окромя явы поганой не туда ничего не кладут,
          да и то мерзко.
      .small-3.columns{ "data-equalizer-watch" => "" }
        .organizers
          .organizers-title
            Организаторы:
          .organizers-names
            - 3.times do
              .organizer
                Павел Калашников
        .join
          -#%a.join-button.mic-press-button{ href: "#" }
          %button.join-button.mic-press-button
            Учавствовать
