/*
 *= require_self
 *= require bootstrap-datetimepicker
 */

.link
  cursor: pointer
  &.mic-userpic-circle:hover
    opacity: 0.5
  &.row:hover
    background-color: lightgray

.hidden
  display: none

/*
 * Pluso Buttons
 */

.pluso
  a.pluso-more
    display: none !important
  .pluso-wrap
    div
      b
        font-size: 1rem !important
        line-height: 2rem !important
        margin-right: 5px !important
        margin-left: 2px !important
        line-height: 32px !important

.auth
  .button.mic-flat-button
    margin-right: 5px

ul.tabs
  font-family: mic !important
  .tab-title 
    background-color: #fff
    & > a 
      font-size: 18px
      font-family: mic-square-reg
      background-color: #fff
      border-top: 3px solid #fff
      padding: 12px
    &.active 
      border-bottom-color: #fff
      & > a 
        font-weight: bold
        border-top: 3px solid #ffa911
