/*
 *= require tabs
 *= require select2
 *= require select2-bootstrap
 *= require jasny-bootstrap
 *= require_tree .
 */

@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'bootstrap-datetimepicker'
@import 'font-awesome'

.link
  cursor: pointer

a.btn-xs
  padding: 5px 6px
  margin-right: 5px
  &:last-child
    margin-right: 0px
a.btn.dropdown-toggle
  display: inline
.btn-toolbar
  .btn-group
    a
      margin-right: 0px

.indicator
  margin-right: 5px

form
  .actions
    margin-top: 10px
    border-top: 1px solid lightgray
    padding-top: 10px

td.actions
  width: 130px

.loading
  width: 100%
  height: 35px
  opacity: 0.5
  background-color: black
  position: fixed
  bottom: 0px
  text-align: center
  display: none
  img
    margin-top: 2px
    height: 33px
    width: 33px

.alert
  ul
    list-style: none

/* hide font toolbar

span#cke_81.cke_toolbar
  display: none !important
.select2-container
  width: 100%

.preview
  img
    max-width: 100%
    width: 200px

table
  .btn-group
    .btn.dropdown-toggle
      padding: 5px 6px
  .btn-xs
    margin-right: 5px

.page-header
  h1
    a
      span
        top: 0
textarea
  height: 100px
  &:focus
    height: 300px
