form
  &.edit_event, &.new_event
    .registrations
      div.input
        width: 50%
        float: left
        .select2, select
          width: 80%
        input, .select2, label
          float: left
        label
          margin-top: 5px
          width: 20%
          text-align: right
          padding-right: 5px
