default: &default
  username: {{ pg_user }}
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: ulmic_development

test:
  <<: *default
  database: ulmic_test
