- if member.confirmed?
  .mic-userpic-circle.link{ data: { href: member_path(member.ticket) }, style: "background-image: url(#{member.avatar})" }
- else
  .mic-userpic-circle{ style: "background-image: url(#{member.element_avatar})" }
.name
  - if member.confirmed?
    %a.text{ href: member_path(member) }
      = member.short_name
  - else
    %span.text
      = member.short_name
