%p
  Привет, 
  = @user.first_name
  \!
%p
  = @comment.user.decorate.short_name
  добавил комментарий к записи
  = @comment.record.title
%p
  Текст комментария:
  = @comment.text
%p
  %b
    Спасибо! Твой МИЦ.
